---
import Layout from '../layouts/Layout.astro';
import { GraphQLClient } from 'graphql-request';

const client = new GraphQLClient(import.meta.env.HYGRAPH_ENDPOINT)

const { services }: any = await client.request(`
query Services {
  services {
    title
    slug
    description
    id
  }
}
`)
---

<Layout>
	{

		services.map((service: any) => {
			return (
				<li>
					<a href={`/services/${service.slug}`}>{service.title}</a>
					</li>
			)
		})
	}

</Layout>
