---
import { Image } from "astro:assets";
---

<section class="relative w-full min-h-[200vh] pt-40 overflow-clip">
  <div class="z-10 max-w-7xl bg-white m-4 p-14 rounded-sm drop-shadow-xl">
    <h1 class="text-9xl text-orange-600 font-medium leading-none">
      Home for All Office and School Supplies
    </h1>
    <p class="mt-4">
      Your one-stop shop for stationery and office supplies! Whether you’re a
      student, a teacher , or a professional, we’ve got everything you need.
      From everyday essentials to premium office products. We offer wide range
      of services which includes, Document writings such as Resumes, Reports,
      Question papers as well as Repairing of Computers and other equipments.
    </p>

    <div class="flex flex-row gap-4 mt-8">
        <a href="">
            <button class="bg-orange-600 hover:bg-white hover:cursor-pointer">Shop Products</button>
        </a>

        <a href="" class="underline">Request Anything</a>
        
    </div>
  </div>

  <Image
    src="https://ap-south-1.graphassets.com/cm7aqwo1w0gkq07pkgypudomw/cm7vd1pln0axb07o6o08tgruu"
    alt=""
    width="100%"
    height="100%"
    class="absolute z-[-1] w-full top-0"
  />
</section>
